[
    (
        update_time: "2023-08-29T13:33:56.114646200Z",
        comp_id: 0,
        comp_str_id: "Erithaxlangbridge",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:33:56.891315400Z",
        comp_id: 1,
        comp_str_id: "Gtk3rs",
        repo: Some((
            url: "https://github.com/gtk-rs/gtk3-rs",
            stars: Some(487),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:56.891321200Z",
        comp_id: 2,
        comp_str_id: "Erithaxui",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:33:57.278145800Z",
        comp_id: 3,
        comp_str_id: "Angular",
        repo: Some((
            url: "https://github.com/angular/angular",
            stars: Some(89884),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:57.278151600Z",
        comp_id: 4,
        comp_str_id: "Dom",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:33:57.635759100Z",
        comp_id: 5,
        comp_str_id: "Dioxus",
        repo: Some((
            url: "https://github.com/dioxuslabs/dioxus",
            stars: Some(13595),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:57.989163900Z",
        comp_id: 6,
        comp_str_id: "Druid",
        repo: Some((
            url: "https://github.com/linebender/druid",
            stars: Some(9078),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:58.325344800Z",
        comp_id: 7,
        comp_str_id: "Egui",
        repo: Some((
            url: "https://github.com/emilk/egui",
            stars: Some(16222),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:58.683900600Z",
        comp_id: 8,
        comp_str_id: "Fltk",
        repo: Some((
            url: "https://github.com/fltk/fltk",
            stars: Some(1258),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:59.052688300Z",
        comp_id: 9,
        comp_str_id: "Flutter",
        repo: Some((
            url: "https://github.com/flutter/flutter",
            stars: Some(156275),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:59.052703Z",
        comp_id: 10,
        comp_str_id: "Gtk",
        repo: Some((
            url: "https://gitlab.gnome.org/GNOME/gtk",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-29T13:33:59.394625900Z",
        comp_id: 11,
        comp_str_id: "Iced",
        repo: Some((
            url: "https://github.com/iced-rs/iced",
            stars: Some(20400),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:59.753797100Z",
        comp_id: 12,
        comp_str_id: "Leptos",
        repo: Some((
            url: "https://github.com/leptos-rs/leptos",
            stars: Some(11543),
        )),
    ),
    (
        update_time: "2023-08-29T13:33:59.753806800Z",
        comp_id: 13,
        comp_str_id: "Qt",
        repo: Some((
            url: "https://code.qt.io/cgit/",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-29T13:34:00.141372800Z",
        comp_id: 14,
        comp_str_id: "React",
        repo: Some((
            url: "https://github.com/facebook/react",
            stars: Some(212337),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:25.443642Z",
        comp_id: 15,
        comp_str_id: "Scither",
        repo: Some((
            url: "https://github.com/sciter-sdk/rust-sciter",
            stars: Some(783),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:00.865302700Z",
        comp_id: 16,
        comp_str_id: "Slint",
        repo: Some((
            url: "https://github.com/slint-ui/slint",
            stars: Some(9387),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:01.216105Z",
        comp_id: 17,
        comp_str_id: "Svelte",
        repo: Some((
            url: "https://github.com/sveltejs/svelte",
            stars: Some(72113),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:01.216111500Z",
        comp_id: 18,
        comp_str_id: "SwiftUI",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:01.625210700Z",
        comp_id: 19,
        comp_str_id: "Vue",
        repo: Some((
            url: "https://github.com/vuejs/vue",
            stars: Some(205024),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:01.985045700Z",
        comp_id: 20,
        comp_str_id: "Xilem",
        repo: Some((
            url: "https://github.com/linebender/xilem",
            stars: Some(1890),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:02.342811Z",
        comp_id: 21,
        comp_str_id: "Yew",
        repo: Some((
            url: "https://github.com/yewstack/yew",
            stars: Some(28326),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:02.342818200Z",
        comp_id: 22,
        comp_str_id: "Erithaxlayout",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.342819500Z",
        comp_id: 23,
        comp_str_id: "Blink_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.342820900Z",
        comp_id: 24,
        comp_str_id: "Flutter_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.342822300Z",
        comp_id: 25,
        comp_str_id: "Gecko_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.342823600Z",
        comp_id: 26,
        comp_str_id: "Servo_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.342825100Z",
        comp_id: 27,
        comp_str_id: "Webkit_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920739100Z",
        comp_id: 28,
        comp_str_id: "Taffy",
        repo: Some((
            url: "https://github.com/DioxusLabs/taffy",
            stars: Some(1297),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:02.920745Z",
        comp_id: 29,
        comp_str_id: "Erithaxpaint",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920747Z",
        comp_id: 30,
        comp_str_id: "Blink_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920748600Z",
        comp_id: 31,
        comp_str_id: "Flutter_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920750200Z",
        comp_id: 32,
        comp_str_id: "Gecko_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920751800Z",
        comp_id: 33,
        comp_str_id: "Servo_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920753600Z",
        comp_id: 34,
        comp_str_id: "Webkit_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920755300Z",
        comp_id: 35,
        comp_str_id: "Erithaxraster",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:02.920760200Z",
        comp_id: 36,
        comp_str_id: "Gecko",
        repo: Some((
            url: "https://hg.mozilla.org/",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-29T13:34:03.281457400Z",
        comp_id: 37,
        comp_str_id: "Webrender",
        repo: Some((
            url: "https://github.com/servo/webrender",
            stars: Some(2883),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:03.650437100Z",
        comp_id: 38,
        comp_str_id: "Webkit",
        repo: Some((
            url: "https://github.com/WebKit/WebKit",
            stars: Some(6548),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:03.650449700Z",
        comp_id: 39,
        comp_str_id: "Xwindow",
        repo: Some((
            url: "https://gitlab.freedesktop.org/xorg",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-29T13:34:03.650451900Z",
        comp_id: 40,
        comp_str_id: "Direct2d",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:03.650454Z",
        comp_id: 41,
        comp_str_id: "Coregraphics",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:03.650457400Z",
        comp_id: 42,
        comp_str_id: "Gdk",
        repo: Some((
            url: "https://gitlab.gnome.org/GNOME/gtk/-/tree/main/gdk",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-29T13:34:03.650459600Z",
        comp_id: 43,
        comp_str_id: "Cairo",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:04.028458800Z",
        comp_id: 44,
        comp_str_id: "Femtovg",
        repo: Some((
            url: "https://github.com/femtovg/femtovg",
            stars: Some(628),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:04.028466100Z",
        comp_id: 45,
        comp_str_id: "Impeller",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:04.368503Z",
        comp_id: 46,
        comp_str_id: "Piet",
        repo: Some((
            url: "https://github.com/linebender/piet",
            stars: Some(1131),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:04.724764400Z",
        comp_id: 47,
        comp_str_id: "Skia",
        repo: Some((
            url: "https://github.com/google/skia",
            stars: Some(7806),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:04.724785700Z",
        comp_id: 48,
        comp_str_id: "Slintcpu",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062959700Z",
        comp_id: 49,
        comp_str_id: "Vello",
        repo: Some((
            url: "https://github.com/linebender/vello",
            stars: Some(1453),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:05.062980900Z",
        comp_id: 50,
        comp_str_id: "Erithaxgfx",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062983300Z",
        comp_id: 51,
        comp_str_id: "Cpu",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062985600Z",
        comp_id: 52,
        comp_str_id: "Vulkan",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062987800Z",
        comp_id: 53,
        comp_str_id: "Opengl",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062990200Z",
        comp_id: 54,
        comp_str_id: "Opengles",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062992900Z",
        comp_id: 55,
        comp_str_id: "Webgl",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062995100Z",
        comp_id: 56,
        comp_str_id: "Webgpu",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062997300Z",
        comp_id: 57,
        comp_str_id: "D3d",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.062999500Z",
        comp_id: 58,
        comp_str_id: "Metal",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.063001700Z",
        comp_id: 59,
        comp_str_id: "Erithaxintergfx",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:05.397906600Z",
        comp_id: 60,
        comp_str_id: "Angle",
        repo: Some((
            url: "https://github.com/google/angle",
            stars: Some(2993),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:05.567215700Z",
        comp_id: 61,
        comp_str_id: "Dawn",
        repo: Some((
            url: "https://github.com/google/angle",
            stars: Some(2993),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:05.928614200Z",
        comp_id: 62,
        comp_str_id: "Dxvk",
        repo: Some((
            url: "https://github.com/doitsujin/dxvk",
            stars: Some(10563),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:06.241820600Z",
        comp_id: 63,
        comp_str_id: "Glow",
        repo: Some((
            url: "https://github.com/grovesNL/glow",
            stars: Some(931),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:06.639381900Z",
        comp_id: 64,
        comp_str_id: "Moltenvk",
        repo: Some((
            url: "https://github.com/KhronosGroup/MoltenVK",
            stars: Some(4183),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:06.985771500Z",
        comp_id: 65,
        comp_str_id: "Wgpu",
        repo: Some((
            url: "https://github.com/gfx-rs/wgpu",
            stars: Some(8668),
        )),
    ),
    (
        update_time: "2023-08-29T13:34:06.985778800Z",
        comp_id: 66,
        comp_str_id: "Erithaxplatform",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985785500Z",
        comp_id: 67,
        comp_str_id: "Linux",
        repo: Some((
            url: "https://git.kernel.org",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-29T13:34:06.985788200Z",
        comp_id: 68,
        comp_str_id: "Windows",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985791100Z",
        comp_id: 69,
        comp_str_id: "Macos",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985794500Z",
        comp_id: 70,
        comp_str_id: "Android",
        repo: Some((
            url: "https://android.googlesource.com/",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-29T13:34:06.985797100Z",
        comp_id: 71,
        comp_str_id: "Ios",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985799900Z",
        comp_id: 72,
        comp_str_id: "Chromeos",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985802600Z",
        comp_id: 73,
        comp_str_id: "Web",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985805200Z",
        comp_id: 74,
        comp_str_id: "Svg",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985807900Z",
        comp_id: 75,
        comp_str_id: "Pdf",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:06.985810600Z",
        comp_id: 76,
        comp_str_id: "Png",
        repo: None,
    ),
    (
        update_time: "2023-08-29T13:34:00.508443300Z",
        comp_id: 15,
        comp_str_id: "Sciter",
        repo: Some((
            url: "https://github.com/sciter-sdk/rust-sciter",
            stars: Some(783),
        )),
    ),
]