[
    (
        update_time: "2023-08-27T23:01:21.831145900Z",
        comp_id: 0,
        comp_str_id: "Erithaxlangbridge",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:21.831189900Z",
        comp_id: 1,
        comp_str_id: "Gtk3rs",
        repo: Some((
            url: "https://github.com/gtk-rs/gtk3-rs",
            stars: Some(487),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:23.048419Z",
        comp_id: 2,
        comp_str_id: "Erithaxui",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:23.048422400Z",
        comp_id: 3,
        comp_str_id: "Angular",
        repo: Some((
            url: "https://github.com/angular/angular",
            stars: Some(89860),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:23.049666200Z",
        comp_id: 4,
        comp_str_id: "Dom",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:23.049670700Z",
        comp_id: 5,
        comp_str_id: "Dioxus",
        repo: Some((
            url: "https://github.com/dioxuslabs/dioxus",
            stars: Some(13542),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:23.383331600Z",
        comp_id: 6,
        comp_str_id: "Druid",
        repo: Some((
            url: "https://github.com/linebender/druid",
            stars: Some(9076),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:23.671216100Z",
        comp_id: 7,
        comp_str_id: "Egui",
        repo: Some((
            url: "https://github.com/emilk/egui",
            stars: Some(16200),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:23.985657500Z",
        comp_id: 8,
        comp_str_id: "Fltk",
        repo: Some((
            url: "https://github.com/fltk/fltk",
            stars: Some(1258),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:24.253986900Z",
        comp_id: 9,
        comp_str_id: "Flutter",
        repo: Some((
            url: "https://github.com/flutter/flutter",
            stars: Some(156206),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:24.560792600Z",
        comp_id: 10,
        comp_str_id: "Gtk",
        repo: Some((
            url: "https://gitlab.gnome.org/GNOME/gtk",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-27T23:01:24.560956300Z",
        comp_id: 11,
        comp_str_id: "Iced",
        repo: Some((
            url: "https://github.com/iced-rs/iced",
            stars: Some(20384),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:24.821879200Z",
        comp_id: 12,
        comp_str_id: "Leptos",
        repo: Some((
            url: "https://github.com/leptos-rs/leptos",
            stars: Some(11525),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:25.113416800Z",
        comp_id: 13,
        comp_str_id: "Qt",
        repo: Some((
            url: "https://code.qt.io/cgit/",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-27T23:01:25.113724200Z",
        comp_id: 14,
        comp_str_id: "React",
        repo: Some((
            url: "https://github.com/facebook/react",
            stars: Some(212259),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:25.443642Z",
        comp_id: 15,
        comp_str_id: "Scither",
        repo: Some((
            url: "https://github.com/sciter-sdk/rust-sciter",
            stars: Some(783),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:25.721062800Z",
        comp_id: 16,
        comp_str_id: "Slint",
        repo: Some((
            url: "https://github.com/slint-ui/slint",
            stars: Some(9370),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:26.021711600Z",
        comp_id: 17,
        comp_str_id: "Svelte",
        repo: Some((
            url: "https://github.com/sveltejs/svelte",
            stars: Some(72091),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:26.344108600Z",
        comp_id: 18,
        comp_str_id: "SwiftUI",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:26.344113200Z",
        comp_id: 19,
        comp_str_id: "Vue",
        repo: Some((
            url: "https://github.com/vuejs/vue",
            stars: Some(204998),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:26.669061900Z",
        comp_id: 20,
        comp_str_id: "Xilem",
        repo: Some((
            url: "https://github.com/linebender/xilem",
            stars: Some(1881),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:26.983637500Z",
        comp_id: 21,
        comp_str_id: "Yew",
        repo: Some((
            url: "https://github.com/yewstack/yew",
            stars: Some(28312),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:27.259437Z",
        comp_id: 22,
        comp_str_id: "Erithaxlayout",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.259440600Z",
        comp_id: 23,
        comp_str_id: "Blink_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.259441800Z",
        comp_id: 24,
        comp_str_id: "Flutter_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.259443Z",
        comp_id: 25,
        comp_str_id: "Gecko_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.259444Z",
        comp_id: 26,
        comp_str_id: "Servo_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.259445200Z",
        comp_id: 27,
        comp_str_id: "Webkit_ly",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.259446400Z",
        comp_id: 28,
        comp_str_id: "Taffy",
        repo: Some((
            url: "https://github.com/DioxusLabs/taffy",
            stars: Some(1294),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:27.533803100Z",
        comp_id: 29,
        comp_str_id: "Erithaxpaint",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.533821700Z",
        comp_id: 30,
        comp_str_id: "Blink_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.533823600Z",
        comp_id: 31,
        comp_str_id: "Flutter_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.533824800Z",
        comp_id: 32,
        comp_str_id: "Gecko_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.533829200Z",
        comp_id: 33,
        comp_str_id: "Servo_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.533830500Z",
        comp_id: 34,
        comp_str_id: "Webkit_pa",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.533831700Z",
        comp_id: 35,
        comp_str_id: "Erithaxraster",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:27.533833100Z",
        comp_id: 36,
        comp_str_id: "Gecko",
        repo: Some((
            url: "https://hg.mozilla.org/",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-27T23:01:27.534094Z",
        comp_id: 37,
        comp_str_id: "Webrender",
        repo: Some((
            url: "https://github.com/servo/webrender",
            stars: Some(2883),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:27.808107300Z",
        comp_id: 38,
        comp_str_id: "Webkit",
        repo: Some((
            url: "https://github.com/WebKit/WebKit",
            stars: Some(6540),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:28.096314200Z",
        comp_id: 39,
        comp_str_id: "Xwindow",
        repo: Some((
            url: "https://gitlab.freedesktop.org/xorg",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-27T23:01:28.096592600Z",
        comp_id: 40,
        comp_str_id: "Direct2d",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:28.096595500Z",
        comp_id: 41,
        comp_str_id: "Coregraphics",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:28.096597400Z",
        comp_id: 42,
        comp_str_id: "Gdk",
        repo: Some((
            url: "https://gitlab.gnome.org/GNOME/gtk/-/tree/main/gdk",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-27T23:01:28.096814500Z",
        comp_id: 43,
        comp_str_id: "Cairo",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:28.096817500Z",
        comp_id: 44,
        comp_str_id: "Femtovg",
        repo: Some((
            url: "https://github.com/femtovg/femtovg",
            stars: Some(627),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:28.343244200Z",
        comp_id: 45,
        comp_str_id: "Impeller",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:28.343248800Z",
        comp_id: 46,
        comp_str_id: "Piet",
        repo: Some((
            url: "https://github.com/linebender/piet",
            stars: Some(1130),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:28.597549200Z",
        comp_id: 47,
        comp_str_id: "Skia",
        repo: Some((
            url: "https://github.com/google/skia",
            stars: Some(7799),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:28.920240Z",
        comp_id: 48,
        comp_str_id: "Slintcpu",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:28.920248500Z",
        comp_id: 49,
        comp_str_id: "Vello",
        repo: Some((
            url: "https://github.com/linebender/vello",
            stars: Some(1449),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:29.204240200Z",
        comp_id: 50,
        comp_str_id: "Erithaxgfx",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204244600Z",
        comp_id: 51,
        comp_str_id: "Cpu",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204246600Z",
        comp_id: 52,
        comp_str_id: "Vulkan",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204248700Z",
        comp_id: 53,
        comp_str_id: "Opengl",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204250800Z",
        comp_id: 54,
        comp_str_id: "Opengles",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204252800Z",
        comp_id: 55,
        comp_str_id: "Webgl",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204254700Z",
        comp_id: 56,
        comp_str_id: "Webgpu",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204256700Z",
        comp_id: 57,
        comp_str_id: "D3d",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204258700Z",
        comp_id: 58,
        comp_str_id: "Metal",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204260500Z",
        comp_id: 59,
        comp_str_id: "Erithaxintergfx",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:29.204262600Z",
        comp_id: 60,
        comp_str_id: "Angle",
        repo: Some((
            url: "https://github.com/google/angle",
            stars: Some(2990),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:29.491285300Z",
        comp_id: 61,
        comp_str_id: "Dawn",
        repo: Some((
            url: "https://github.com/google/angle",
            stars: Some(2990),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:29.597920200Z",
        comp_id: 62,
        comp_str_id: "Dxvk",
        repo: Some((
            url: "https://github.com/doitsujin/dxvk",
            stars: Some(10553),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:29.851015900Z",
        comp_id: 63,
        comp_str_id: "Glow",
        repo: Some((
            url: "https://github.com/grovesNL/glow",
            stars: Some(929),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:30.121118100Z",
        comp_id: 64,
        comp_str_id: "Moltenvk",
        repo: Some((
            url: "https://github.com/KhronosGroup/MoltenVK",
            stars: Some(4181),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:30.396925500Z",
        comp_id: 65,
        comp_str_id: "Wgpu",
        repo: Some((
            url: "https://github.com/gfx-rs/wgpu",
            stars: Some(8655),
        )),
    ),
    (
        update_time: "2023-08-27T23:01:30.679868600Z",
        comp_id: 66,
        comp_str_id: "Erithaxplatform",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.679874400Z",
        comp_id: 67,
        comp_str_id: "Linux",
        repo: Some((
            url: "https://git.kernel.org",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-27T23:01:30.680107600Z",
        comp_id: 68,
        comp_str_id: "Windows",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.680111400Z",
        comp_id: 69,
        comp_str_id: "Macos",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.680114Z",
        comp_id: 70,
        comp_str_id: "Android",
        repo: Some((
            url: "https://android.googlesource.com/",
            stars: None,
        )),
    ),
    (
        update_time: "2023-08-27T23:01:30.680244100Z",
        comp_id: 71,
        comp_str_id: "Ios",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.680247900Z",
        comp_id: 72,
        comp_str_id: "Chromeos",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.680250300Z",
        comp_id: 73,
        comp_str_id: "Web",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.680252800Z",
        comp_id: 74,
        comp_str_id: "Svg",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.680255200Z",
        comp_id: 75,
        comp_str_id: "Pdf",
        repo: None,
    ),
    (
        update_time: "2023-08-27T23:01:30.680257700Z",
        comp_id: 76,
        comp_str_id: "Png",
        repo: None,
    ),
]